footer {
    background-color: cornflowerblue;
    width: 100vw;
    position: static;
    bottom: 0;
}

footer > ul {
    margin: 0;
}

i {
 font-size: 30px;

}

a.social:hover {
    transform: translateY(-2px);
    
  }

  a.facebook {
    color:     #0000CD;
    padding-right: 10px;
  }
  
 a.twitter{
     padding-left: 10px;
 }
  
  a.instagram {
    color: white;
  }